* {
  margin-top: 0;
}

body {
  background-image: url('fundoHogwarts.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

#imagem {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  gap: 5px;
}

#email {
  width: 120px;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#senha {
  width: 120px;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}

header h1 {
  color: white;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 20px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  background-color: rgb(128, 128, 130, 0.5);
  border-radius: 10px;
  gap: 5px;
  margin-top: 8%;
}

#trybewarts-forms-logo {
  height: 500px;
  padding-top: 100px;
}

#input-name {
  width: 250px;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#input-lastname {
  width: 250px;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#input-email {
  width: 250px;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#container {
  display: flex;
  align-items: stretch;
  gap: 5px;
}

#house {
  width: 200px;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#label-family {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
