.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

#imagem {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  gap: 5px;
}

#email {
  width: 120px;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#senha {
  width: 120px;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
}

header h1 {
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  background-color: pink;
  gap: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 200px;
}

#input-name {
  width: 250px;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#input-lastname {
  width: 250px;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#input-email {
  width: 250px;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#container {
  display: flex;
  align-items: stretch;
  gap: 5px;
}

#house {
  width: 200px;
  border-radius: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}
